@import "../../styles/theme.scss";

.heading {
  color: $white;
  $font-family: $fontPrimary;
  margin: 0;
}

.large {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

.big {
  font-size: 12px;
}

.medium {
  font-weight: bolder;
  font-size: 20px;
}

.small {
  font-size: 12px;
}

.tiny {
  font-size: 12px;
}

.micro {
  font-size: 12px;
}
