@import "~ui/styles/theme.less";
@import "~ui/styles/mixins.less";
@import "~ui/styles/media.less";

.listContainer {
  .list {
    .wrap();

    & > * {
      width: calc(33% - 9px);
      margin: 0 10px 10px 0;

      @media @mobile {
        width: calc(50% - 10px);
      }

      @media @pixel2 {
        width: 100%;
        margin-right: 0;
      }

      .play {
        margin-left: auto;
      }

      .listItemContent {
        .row();
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
