@import "~ui/styles/theme.less";
@import "~ui/styles/mixins.less";

.btn {
  .unselectable();
  border-radius: 50%;
  border: 1px solid @appBg;
  font-family: inherit;
  font-size: 1.6rem;
  height: 40px;
  width: 40px;
  color: @appBg;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);

  &.unactive {
    background: transparent;
    color: @white;
  }
}
