@import "styles/theme";
@import "styles/mixins";

.row {
  @include row;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  & > *:first-of-type {
    margin-right: 12px;
  }
}

.preview {
  @include wrap;

  & > h5 {
    margin-right: 12px;
  }

  & > *:not(:last-of-type) {
    margin-right: 6px;
  }
}
