.visualizer {
  padding: 20px;
  width: max-content;
  position: relative;
}

.filters {
  padding: 0 24px 24px 24px;
  background: #fff;
  display: flex;
  align-items: center;

  .rangeSlider,
  .fretsPicker {
    display: flex;
    flex-flow: column;
    width: 320px;
  }

  .stringsManager {
    margin-right: 24px;
  }

  .fretsPicker {
    margin-left: 24px;
  }

  .markersSwitch {
    display: flex;
    margin-left: 10px;

    & > *:first-child {
      margin-right: 12px;
    }
  }

  .notePicker {
    margin-left: 24px;
  }

  .tuningPicker {
    margin-left: 24px;
  }
}
