@import "~ui/styles/theme.less";
@import "~ui/styles/mixins.less";
@import "~ui/styles/media.less";

.container {
  background: @appBg;
  min-height: 100vh;

  .layout {
    padding: 20px 20px 12px 20px;

    @media @desktop {
      width: 1120px;
      margin: 0 auto;
    }

    .header {
      .row();

      & > :first-child {
        margin: 0 auto 0 0;
      }

      & > :last-child {
        margin-left: 12px;
      }
    }

    .section {
      .row();
      justify-content: flex-end;
      margin-top: 24px;

      & > :nth-child(2) {
        margin: 0 12px 0 12px;
      }

      @media @tabletDown {
        .col();

        & > * {
          width: 100%;

          &:nth-child(2) {
            margin: 12px 0 12px 0;
          }
        }
      }
    }

    .filters {
      display: grid;
      padding: 28px 0 12px 0;
      gap: 12px;

      @media @desktop {
        grid-template-columns: 400px 340px 318px;
      }

      .tile {
        padding: 18px;
        border-radius: 2px;
        background: @fillPrimary;
        border: 1px solid @black;

        .tuningPicker {
          margin-right: 16px;
        }

        .settingsForm {
          margin-top: 24px;

          .item {
            margin-bottom: 4px;
          }

          label {
            color: @white;
          }

          .ant-form-item {
            margin-bottom: 0;
          }
        }

        h5 {
          color: @white;
        }

        .tileHeader {
          .row();

          .switch {
            margin-right: 12px;
          }

          & > h5 {
            margin: 0 auto 0 0;
          }
        }

        .notes {
          .wrap();
          margin: 24px auto 0 0;

          @media @desktop {
            justify-content: space-between;

            & > * {
              &:nth-child(6),
              &:nth-child(12) {
                margin: 0 0 6px 0;
              }
            }
          }

          & > * {
            margin: 0 6px 6px 0;
          }
        }
      }
    }
  }
}
