@desktop: ~"(min-width: 1280px) and (max-width: 1920px)";
@laptop: ~"(min-width: 900px) and (max-width: 1280px)";
@tablet: ~"(min-width: 600px) and (max-width: 900px)";
@mobile: ~"(max-width: 600px)";
