.row {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-flow: column;
}

.colXCenter {
  .col();
  align-items: center;
}

.centered {
  .row();
  justify-content: center;
}

.wrap {
  display: flex;
  flex-flow: wrap;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.absCentered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tile {
  padding: 18px;
  border-radius: 4px;
  background: @fillPrimary;
  border: 1px solid @black;
}
