@import "~antd/dist/antd.css";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}
